*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

nav{
    background-color: blue;
    width: 100vw;
    min-width: 978px;
    height: 56px;
    padding: 5px;
    display: flex;

}

.firstblock{
  min-width: 124px;
}

.logoblock{
    margin-top: auto;
    margin-bottom: auto;
}


.logo{
    width: 75px;
    height: 22px;
    margin-bottom: -10px;
}

.Explore{
font-size: 11px;
font-style: italic;
margin-top: -1px;
color: #ffffff;
}
.pluscolor{
color: rgb(234, 234, 42);
}
.star{
    width: 9px;
    height: 9px;
}

.ipt{
margin-top: auto;
margin-bottom: auto;
margin-left: 2%;
background-color: #ffffff;
}

input{
    width: 40vw;
    height: 30px;
    border: none;
}

.serchicon{
    background-color: #ffffff;
    fill: blue;
   padding-top: 10px;
}

.ipt{
    padding-right: 10px;
}

.bas{
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: auto 0 auto 2%;
}

.login{
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: blue;
    font-weight: 700;
}

.center{
    display: flex;
  /*  background-color: red; */
    flex-wrap: wrap;
    box-shadow: 0 0 5px 0px black;
}

.navbtm{
    width: 100%;
    height: 112.2px;
    min-height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 56px;
    margin-right:56px;
}

section img{
    width: 64px; 
    height: 64px; 
   }

.typesimg{
    margin-bottom: -10px;
}

.types{
    font-weight: 500;
    margin: 0;
}

.navbtmitem{
    padding: 12px;
    padding: 8px;
}

.types svg{
    fill: black;
}

.tm{
    margin-top: 7px;
}

.cen{
    display: flex;
    flex-direction: column;
    align-items: center;
}